{% extends 'app/base.html' %}

{% block checkout %}

<div class="checkout">
    <div class="checkout-section">
        <div class="logo">
            <img src="logo.png" alt="Biti's Logo">
        </div>
        <div class="breadcrumb">
            <a href="{% url 'cart' %}">Giỏ hàng</a> &gt; <a href="#">Thông tin giao hàng</a>
        </div>
        <h2>Thông tin giao hàng</h2>
        <form method="post" action="{% url 'checkout' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Họ và tên người nhận</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Số điện thoại</label>
                <input type="tel" id="phone" name="phone" required>
            </div>
            <div class="form-group">
                <label for="address">Địa chỉ</label>
                <input type="text" id="address" name="address" required>
            </div>
            <div class="form-group">
                <label for="city">Tỉnh / thành</label>
                <select id="city" name="city" required>
                    <option>Chọn tỉnh / thành</option>
                    <option value="Hanoi">Hà Nội</option>
                    <option value="HoChiMinhCity">TP. Hồ Chí Minh</option>
                    <option value="DaNang">Đà Nẵng</option>
                    <option value="HaiPhong">Hải Phòng</option>
                    <option value="CanTho">Cần Thơ</option>
                    <option value="Hue">Huế</option>
                    <option value="NhaTrang">Nha Trang</option>
                    <option value="VungTau">Vũng Tàu</option>
                    <option value="QuyNhon">Quy Nhơn</option>
                    <option value="HaLong">Hạ Long</option>
                </select>
            </div>
            <div class="form-group">
                <label for="district">Quận / huyện</label>
                <input type="text" id="district" name="district" required>
            </div>
            <div class="form-group">
                <label for="ward">Phường / xã</label>
                <input type="text" id="ward" name="ward" required>
            </div>
            <button type="submit">Đặt Hàng</button>
        </form>
    </div>
    <div class="order-summary">
        {% for muc in muc_gio_hang %}
        <div class="product-summary">
            <div style="position: relative;">
                <img src="{{muc.san_pham.hinh.url}}" alt="Product Image" style="display: block;">
                <span style="position: absolute;
                top: -5px;
                right: 5px;
                background-color: rgba(255, 0, 0, 0.8);
                color: white;
                padding: 2px 7px;
                border-radius: 50%;
                font-size: 12px;
                font-weight: bold;">{{muc.so_luong}}</span>
            </div>
            <div>
                <p>{{muc.san_pham.ten}}</p>
                {% if muc.san_pham.khuyen_mai == True %}
                <p>Giá: {{muc.san_pham.gia_km}} đ </p>
                {% else %}
                <p>Giá: {{muc.san_pham.gia}} đ </p>
                {% endif %}
                <p style="color: red;">Tổng: {{muc.tong_gia_cua_tung_muc}} đ</p>

            </div>
        </div>
        {% endfor %}
        <div class="voucher-section">
            <label for="voucher">Chọn loại voucher:</label>
            <select id="voucher" name="voucher">
                <option value="promotion">Khuyến mãi</option>
            </select>
            <input type="text" id="voucher-code" name="voucher-code" placeholder="Mã giảm giá">
            <button type="button">Sử dụng</button>
            <a href="#">Xem thêm mã giảm giá</a>
            <div class="voucher-list">
                <button>Giảm 50,000 đ</button>
                <button>Giảm 90,000 đ</button>
                <button>Giảm 120,000 đ</button>
                <button>Giảm 150,000 đ</button>
            </div>
        </div>
        <div class="shipping-info">
            <p>🔥 Mua thêm <span>686,000 đ</span> nữa để được miễn phí giao hàng.</p>
        </div>
        <div class="price-summary">
            <p>Tạm tính: <span>{{gia_tri_gio_hang}} đ</span></p>
            <p>Phí vận chuyển: <span>30000 đ</span></p>
            <p>Tổng cộng: <span>{{gia_tri_gio_hang|add:30000}} đ</span></p>
        </div>
    </div>
</div>

{% endblock checkout %}