{% extends 'app/base.html' %}

{% block search %}
<style>
    .search-result {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .search-result h4 {
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
        text-transform: uppercase;
        /* Chuyển đổi văn bản thành chữ in hoa */
    }

    .search-result p {
        font-size: 16px;
        color: #666;
        margin-bottom: 5px;
    }

    .search-result .query {
        color: #ff5733;
        /* Màu cam */
    }

    .search-result .product-count {
        color: #4CAF50;
        /* Màu xanh lá cây */
    }

    .search-result hr {
        border: none;
        border-top: 1px solid #ddd;
        margin-top: 15px;
    }
</style>
<!-- Begin Search Content -->
<div class="container-pdt" style="padding-top: 130px; ">
    <div class="row">
        <!-- Begin Left Menu -->
        <div class="col-2" style="  padding: auto; margin-top: 50px;">

        </div>
        <!-- End Left Menu -->

        <!-- Begin Main Content -->

        <div class="search-result" style="padding-left: 50px;">
            <h3>Kết quả tìm kiếm: <span>{{query}}</span></h3>
            <p>Tổng số sản phẩm: <span>{{san_pham_tim_kiem_list|length}}</span></p>
            <hr>
        </div>


        <!-- Begin Products -->
        <section class="products">
            <div class="product-card-container">
                <div class="product-items">
                    {% for sanpham in san_pham_tim_kiem_list %}
                    <!-- single product -->
                    <div class="product">
                        <div class="product-content">
                            <div class="product-img">
                                <img src="{{sanpham.ImageURL}}" alt="product image">
                            </div>
                            <div class="product-btns">
                                <button type="button" class="btn-cart" data-sanphamid="{{sanpham.id}}"> Thêm vào giỏ
                                    <span><i class="fas fa-plus"></i></span>
                                </button>
                                <button type="button" class="btn-buy"
                                    onclick="window.location.href='/product_detail/{{sanpham.id}}'"> Xem Sản Phẩm
                                    <span><i class="fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                        </div>

                        <div class="product-info">
                            <div class="product-info-top">
                                <h2 class="sm-title">Ricons Shoes Store</h2>
                                <div class="rating">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                            <a href="#" class="product-name">{{sanpham.ten}}</a>
                            <div class="product- price-container">
                                {% if sanpham.khuyen_mai == True %}
                                <strike class="product-price">{{sanpham.gia}}</strike>
                                <p class="product-price">{{ sanpham.gia_km}} vnd</p>
                                {% else %}
                                <p class="product-price">{{sanpham.gia}} vnd</p>
                                {% endif %}


                            </div>
                        </div>
                        {% if sanpham.khuyen_mai == True %}
                        <div class="off-info">
                            <h2 class="sm-title">Giảm 10%</h2>
                        </div>
                        {% endif %}
                    </div>
                    <!-- end of single product -->
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End Products -->

        <!-- End Main Content -->
    </div>
</div>
<!-- End Search Content -->

<!-- Begin Ajax của thêm vào giỏ hàng  -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-cart').click(function () {
            var san_pham_id = $(this).data('sanphamid');
            var so_luong = 1;

            $.ajax({
                type: 'POST',
                url: '{% url "them_vao_gio_hang" %}',
                data: {
                    'san_pham_id': san_pham_id,
                    'so_luong': so_luong,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        alert('Sản phẩm đã được thêm vào giỏ hàng!');
                    } else {
                        alert('Đã xảy ra lỗi khi thêm vào giỏ hàng!');
                    }
                }
            });
        });
    });
</script>
<!-- End Ajax của thêm vào giỏ hàng  -->
{% endblock search %}